body {
  background-color: #84baef;
  font-family: Arial, sans-serif;
}

.navbar {
  margin-bottom: 20px;
}

.container h1 {
  color: #007bff;
}

.nav-link {
  font-size: 18px;
}

.nav-link:hover {
  color: #0056b3;
}
