<%- include('layouts/header') %> <%- include('layouts/nav') %>

<div class="container mt-4">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">Kamu adalah <%= name %></p>
</div>

<%- include('layouts/footer') %>
